---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro'
import ResumeCard from '../components/ResumeCard.astro'
import SessionViewMore from '../components/SessionViewMore.astro';
import BlogCardList from '../components/BlogCardList.astro';
import ProjectCardList from '../components/ProjectCardList.astro';
import FormContact from '../components/FormContact.astro'
---

<Layout title="Home - dev Jefferson Cabral">
	<section class="w-full max-w-[1280px] flex flex-col xl:grid xl:grid-cols-2 xl:grid-rows-2 gap-4 items-center p-8 xl:px-0">
		<Navigation complementaryClass="md:hidden" theme='dark'/>
		<div class="flex flex-col gap-4 h-full ">
				<SessionViewMore buttonTitle='View more' href='/resume' title='Resume' />
				<ResumeCard />
		</div>
		<div class="flex flex-col gap-4 h-full">
			<SessionViewMore buttonTitle='View all' href='/blog' title='Blog'/>
			<BlogCardList />
		</div>
		<div class="flex flex-col gap-4 h-full">
			<SessionViewMore buttonTitle='View all' href='/project' title='Projects'/>
			<ProjectCardList />
		</div>
		<div class="flex flex-col gap-4 h-full w-full">
			<SessionViewMore buttonTitle='View all' href='#contact' title='Contact' visibleButton={false}/>
			<FormContact />
		</div>
	</section>
</Layout>