---
---

<form class="flex flex-col gap-2 border border-gray-200 p-4 rounded-md shadow-md" action="">
  <input class="border border-gray-300 h-10 md:h-12 w-full rounded pl-2" type="text" name="name" id="name" placeholder="Name">
  <input class="border border-gray-300 h-10 md:h-12 w-full rounded pl-2" type="email" name="email" id="email" placeholder="E-mail">
  <input class="border border-gray-300 h-10 md:h-12 w-full rounded pl-2" type="email" name="subject" id="subject" placeholder="Subject">
  <textarea class="border border-gray-300 w-full rounded max-h-[140px] pl-2" name="message" id="message" cols="40" rows="6" placeholder="message"></textarea>
  <button class="bg-gray-800 text-gray-50 rounded w-full py-4 flex items-center justify-center" type="submit">Send</button>
</form>