---
interface Props {
	title: string;
	icon: string;
	href: string;
}

const { href, title, icon } = Astro.props;
---

<a
  class="max-w-[100px] h-full border border-gray-600 lg:border-gray-50 text-gray-800 font-medium lg:text-gray-50
  rounded-md p-4 lg:p-1 lg:px-2 flex flex-col gap-2 items-center justify-center"
  href={href}
>
  <img src={`/public/icons/${icon}.svg`} alt={title} srcset="">
  {title}
</a>