---
import LinkNavigation from './LinkNavigation.astro'
---

<nav class="w-full grid grid-cols-3 gap-4 ">
  <LinkNavigation href='#' icon='read-cv-logo' title='Resume'/>
  <LinkNavigation href='#' icon='notepad' title='Blog'/>
  <LinkNavigation href='#' icon='code-block' title='Project'/>
</nav>