---
import LinkNavigation from './LinkNavigation.astro'

interface Props {
  complementaryClass?: string
  theme: 'light' | 'dark'
}

const {complementaryClass, theme} = Astro.props
---

<nav class={`grid grid-cols-3 gap-4 ${complementaryClass} `}>
  <LinkNavigation href='#' fill={theme === 'light' ? '#f8fafc' : '#475569'} title='Resume'/>
  <LinkNavigation href='#' fill={theme === 'light' ? '#f8fafc' : '#475569'} title='Blog'/>
  <LinkNavigation href='#' fill={theme === 'light' ? '#f8fafc' : '#475569'} title='Project'/>
</nav>