---
import ProjectCard from "./ProjectCard.astro";

---

<ul class="w-full h-full flex flex-col gap-2 ">
  <li >
    <ProjectCard 
      discription="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra ipsum eget justo malesuada, et vulputate ex faucibus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra ipsum eget justo malesuada, et vulputate ex faucibus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra ipsum eget justo malesuada, et vulputate ex faucibus." 
      href="/blog/How-to-Set-Achievable-Goals" 
      tags={["Front-end", "React"]} 
      title="How to Set Achievable Goals" 
      thumbnail="/jeffersonCabral.jpg"/>
  </li>
  <li>
    <ProjectCard discription="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra ipsum eget justo malesuada, et vulputate ex faucibus." href="/blog/How-to-Set-Achievable-Goals" tags={["Front-end", "React"]} title="How to Set Achievable Goals" thumbnail="/jeffersonCabral.jpg"/>
  </li>
  <li>
    <ProjectCard discription="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra ipsum eget justo malesuada, et vulputate ex faucibus." href="/blog/How-to-Set-Achievable-Goals" tags={["Front-end", "React"]} title="How to Set Achievable Goals" thumbnail="/jeffersonCabral.jpg"/>
  </li>
</ul>